apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ policy_name }}
  namespace: {{ target_namespace }}
spec:
  podSelector:
    matchLabels:
      {% for key, value in pod_selector_labels.items() %}
      {{ key }}: {{ value }}
      {% endfor %}
  policyTypes:
  {% for policy_type in policy_types %}
  - {{ policy_type }}
  {% endfor %}
  {% if ingress_rules %}
  ingress:
  {% for rule in ingress_rules %}
  - from:
    {% if rule.pod_selector %}
    - podSelector:
        matchLabels:
          {% for key, value in rule.pod_selector.items() %}
          {{ key }}: {{ value }}
          {% endfor %}
    {% endif %}
    {% if rule.namespace_selector %}
    - namespaceSelector:
        matchLabels:
          {% for key, value in rule.namespace_selector.items() %}
          {{ key }}: {{ value }}
          {% endfor %}
    {% endif %}
    {% if rule.ports %}
    ports:
    {% for port in rule.ports %}
    - protocol: {{ port.protocol }}
      port: {{ port.port }}
    {% endfor %}
    {% endif %}
  {% endfor %}
  {% endif %}
  {% if egress_rules %}
  egress:
  {% for rule in egress_rules %}
  - {% if rule.to %}to:
    {% if rule.pod_selector %}
    - podSelector:
        matchLabels:
          {% for key, value in rule.pod_selector.items() %}
          {{ key }}: {{ value }}
          {% endfor %}
    {% endif %}
    {% if rule.namespace_selector %}
    - namespaceSelector:
        matchLabels:
          {% for key, value in rule.namespace_selector.items() %}
          {{ key }}: {{ value }}
          {% endfor %}
    {% endif %}
    {% if rule.ports %}
    ports:
    {% for port in rule.ports %}
    - protocol: {{ port.protocol }}
      port: {{ port.port }}
    {% endfor %}
    {% endif %}
    {% else %}{}{% endif %}
  {% endfor %}
  {% endif %}
